:root {
  /* Colors primary */
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  /* Colors neutral */
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
  /* Font size paragraph */
  --size-paragraph: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--Very-light-grayish-blue);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
}

@media (max-width: 520px) {
  body {
    padding-top: 200px;
  }
}
